<% content_for :page_title do %>Welcome to LionSale!<% end %>
<% content_for :page_description do %>Welcome to LionSale!<% end %>
<% content_for :content do %>
<section class="section">
  <div class="container">
    <div class="img__wrap">
      <%= image_tag "index.jpg", class:"center shadow-5 img__img" %>
      <p class="img__description title is-2">Welcome to LionSale!</p>
    </div>
  </div>
</section>
<% end %>
<%= render template: "layouts/application" %>