<% content_for :page_title do %>Welcome to LionSale!<% end %>
<% content_for :page_description do %>Welcome to LionSale!<% end %>
<% content_for :content do %>
<section class="section">
  <div class="container">\
    <%= image_tag "1f605.png", class:"center shadow-5" %>
  </div>
</section>
<% end %>
<%= render template: "layouts/application" %>