<% content_for :page_title do %>Log in<% end %>
<% content_for :page_description do %>Welcome to the LionSale!<% end %>
<% content_for :content do %>
<section class="section">
  <div class="container tc">
    <h1 class="white">You have logged out.</h1>
  </div>
</section>
<% end %>
<%= render template: "layouts/application" %>