<% content_for :page_title do %>Edit <%= @user.username %>'s user profile!<% end %>
<% content_for :page_description do %>Edit <%= @user.username %>'s user profile for LionSale!<% end %>
<% content_for :content do %>
<section class="section">
  <div class="container">
    <h1 class="black">Edit your profile for LionSale!</h1>
    <%= render 'edit_profile_form', user: @user %>
  </div>
</section>
<% end %>
<%= render template: "layouts/application" %>