
<% content_for :page_title do %>Sign up<% end %>
<% content_for :page_description do %>Sign up and create an account for LionSale!<% end %>
<% content_for :content do %>
<section class="section">
  <div class="container">
    <h1 class="black">Sign up and create an account for LionSale!</h1>
    <%= render 'form', user: @user %>
  </div>
</section>
<% end %>
<%= render template: "layouts/application" %>