<% content_for :page_title do %>Sell something?<% end %>
<% content_for :page_description do %>Add an item to sell on LionSale!<% end %>
<% content_for :content do %>
<section class="section">
  <div class="container">
    <h1 class="black">Add an item to sell on LionSale!</h1>
    <%= render 'form', item: @item,is_new: true %>
  </div>
</section>
<% end %>
<%= render template: "layouts/application" %>