<% content_for :page_title do %>Categroies at LionSale!<% end %>
<% content_for :page_description do %>Categroies at LionSale!<% end %>
<% content_for :content do %>
<section class="section">
  <div class="container">
    <div class="menu">
      <p class="menu-label">
        All Categroies
      </p>
      <ul class="menu-list">
        <% @categories.each do |cat| %>
        <li>
          <%= link_to cat.name, items_path(category_id:cat.id)%>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</section>
<% end %>
<%= render template: "layouts/application" %>